@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(rgba(0, 0, 0, 0.973),black);
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    perspective: 1000px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url(img/brown-texture.jpg);
    background-size: cover;
    width: 450px;
    height: 250px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    background-color: beige;
}

.circle{
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 5rem;
}

.triangle{
    width: 120px;
    height: 100px;
    margin: 0 10px;
    border-bottom: 2px solid black;
    position: relative;
}

.triangle::before{
    content: '';
    position: absolute;
    top: -11px;
    left: 30px;
    border-left: 2px solid black;
    transform: rotate(30deg);
    height: 120%;
}

.triangle::after{
    content: "";
    position: absolute;
    top: -11px;
    right: 30px;
    border-right: 2px solid black;
    transform: rotate(-30deg);
    height: 120%;
}

.square{
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border: 2px solid black;
}

.back{
    position: absolute;
    z-index: -1;
}

.number {
    transform: rotateY(-180deg);
}

footer{
    flex-shrink: 0;
    font-family: 'IBM Plex Mono', monospace;;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.24);
}

footer a:hover{
    color: white;
}

.line {
    position: relative;
    width: 17.6em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.24);
    color: rgba(255, 255, 255, 0.24);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

.typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}


@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 17.6em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.24);
    }
    to {
          border-right-color: transparent;
    }
}